{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "URL-Shortener Example API",
        "contact": {
            "name": "sidesideeffect.io",
            "url": "https://github.com/shlason/url-shortener",
            "email": "nocvi111@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/shlason/url-shortener/blob/main/LICENSE"
        },
        "version": "1.0"
    },
    "host": "short.sidesideeffect.io",
    "basePath": "/api",
    "paths": {
        "/short": {
            "post": {
                "description": "藉由 timestamp 轉 base62 的方式產生 unique ID 來作為短網址的 ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "short"
                ],
                "summary": "建立短網址",
                "parameters": [
                    {
                        "description": "Original URL",
                        "name": "url",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.createShortURLResponsePayload"
                        }
                    }
                }
            }
        },
        "/{shortID}": {
            "get": {
                "description": "Use 301 redirect by short ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "short"
                ],
                "summary": "Redirect by short ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "shortID redirect use",
                        "name": "shortID",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        }
    },
    "definitions": {
        "controllers.createShortURLResponsePayload": {
            "type": "object",
            "properties": {
                "shortId": {
                    "type": "string"
                }
            }
        }
    }
}